@import '../../shared/styles.scss';

.gradient, h1, h2 {
    background: linear-gradient(79.22deg,rgba(101,154,176,0) 32.91%,rgba(101,154,176,.75) 91.8%),linear-gradient(0deg,#fff,#fff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient{
    text-align: center;
    padding-top: 10%;
    @media (min-width: 1024px){
        padding-top: 0;
        text-align: left;
    }
}
h1, h2, h3, h4 {
    font-family: $circular-font-familty;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: -.02em;
    color: #fff;
}

h1, h2, h3, h4, h5, h6, p, pre {
    margin: 0;
}


h4 {
    font-size: 18px;
    @media (min-width: 1024px){
        font-size: 21px;
    }
}

.feature-block {
    border-radius: 20px;
    background-color: #151515;
    align-items: center;
    justify-content: center;
    padding: 26px;
    position: relative;
    transition: background .4s;
    cursor: pointer;
    outline: 0!important;
    font-family: $circular-font-familty;
    min-height: 280px;
    @media (min-width: 1024px) {
        min-height: 175px;
        }
}

@media (min-width: 1024px) {
    .item-0 {
        grid-column: 1/3;
    }

    .item-1 {
        grid-column: 3/4;
    }

    .item-2 {
        grid-column: 4/5;
    }

    .item-3,.item-5,.item-6{
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .item-5{
        grid-column-start: 3;
    }
    .item-6{
        grid-column-start: 4;
    }
}

.feature-block .description {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 24px;    
    align-items: center;
    justify-content: center;
    opacity: 0;
    border-radius: 20px;
    background: linear-gradient(0deg,rgba(21,21,21,.2),rgba(21,21,21,.2)),linear-gradient(0deg,rgba(42,42,42,.4),rgba(42,42,42,.4)),linear-gradient(222.39deg,rgba(109,14,88,0) 68.93%,#8b1070 115.85%),linear-gradient(68.44deg,rgba(1,110,155,0) 22.18%,#10aeb8 81.61%),#0b0743;

    p {
        color: hsla(0,0%,100%,.8);
        font-family: $inter-font-familty;
        font-size: 18px;
    }

}

.active{
    .description{
        opacity: 1;
        transition: .4s;
    }
}
