@import '../../../shared/styles.scss';

.input {
    border: 2px solid #2a2a2a;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 15px;
    min-height: 60px;
    outline: none;
    padding: 0 20px;
    font-size: 20px;
    color: #fff;

    &.error-field{
        border: 1px solid rgb(126, 64, 64);
    }

    &.active {
        border-color: #666;
    }
}

.contact-form-input{
    display: grid;

    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 32px;

}

.label{
    font-family: $inter-font-familty;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    color: #999;
    margin-bottom: 8px;
}

.textarea {
    border: 2px solid #2a2a2a;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 15px;
    min-height: 200px;
    outline: none;
    padding: 10px 20px;
    resize: none;
    color: #fff;
    overflow: auto;

    &.error-field{
        border: 1px solid rgb(126, 64, 64);
    }
}

.error{
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
    color: #c75e5e;
    transition: opacity .2s;
}